<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="imagetoolbar" content="no" />
<title>Shiliang Wang</title>
<meta name="description" content="Add description here" />
<meta name="keywords" content="Add keywords here" />
<script>
<!--
document.write(unescape("%3Clink%20type%3D%22text/css%22%20rel%3D%22stylesheet%22%20media%3D%22screen%22%20href%3D%22styles/main.css%22%20/%3E%0A%3Clink%20type%3D%22text/css%22%20rel%3D%22stylesheet%22%20media%3D%22screen%22%20href%3D%22styles/prettyPhoto.css%22%20/%3E%0A%3Clink%20type%3D%22text/css%22%20rel%3D%22stylesheet%22%20media%3D%22print%22%20href%3D%22styles/print.css%22%20/%3E%0A%3C%21--%5Bif%20IE%207%5D%3E%0A%3Clink%20type%3D%22text/css%22%20rel%3D%22stylesheet%22%20media%3D%22screen%22%20href%3D%22styles/ie7Fix.css%22%20/%3E%0A%3C%21%5Bendif%5D--%3E%0A%3C%21--%5Bif%20IE%206%5D%3E%0A%3Clink%20type%3D%22text/css%22%20rel%3D%22stylesheet%22%20media%3D%22screen%22%20href%3D%22styles/ieFix.css%22%20/%3E%0A%3Cscript%20src%3D%22scripts/DD_belatedPNG_0.0.7a-min.js%22%3E%3C/script%3E%0A%3Cscript%20type%3D%22text/javascript%22%3E%0A%20%20DD_belatedPNG.fix%28%27%23headerShadow%27%29%3B%0A%3C/script%3E%0A%3C%21%5Bendif%5D--%3E%0A%3Cscript%20type%3D%22text/javascript%22%3E%0A%20%20var%20_gaq%20%3D%20_gaq%20%7C%7C%20%5B%5D%3B%0A%20%20_gaq.push%28%5B%27_setAccount%27%2C%20%27UA-11682933-1%27%5D%29%3B%0A%20%20_gaq.push%28%5B%27_trackPageview%27%5D%29%3B%0A%0A%20%20%28function%28%29%20%7B%0A%20%20%20%20var%20ga%20%3D%20document.createElement%28%27script%27%29%3B%20ga.type%20%3D%20%27text/javascript%27%3B%20ga.async%20%3D%20true%3B%0A%20%20%20%20ga.src%20%3D%20%28%27https%3A%27%20%3D%3D%20document.location.protocol%20%3F%20%27https%3A//ssl%27%20%3A%20%27http%3A//www%27%29%20+%20%27.google-analytics.com/ga.js%27%3B%0A%20%20%20%20%28document.getElementsByTagName%28%27head%27%29%5B0%5D%20%7C%7C%20document.getElementsByTagName%28%27body%27%29%5B0%5D%29.appendChild%28ga%29%3B%0A%20%20%7D%29%28%29%3B%0A%3C/script%3E"));
//-->
</script>
<link href="css/main.css" type="text/css" rel="stylesheet" media="screen">
<link href="css/prettyPhoto.css" type="text/css" rel="stylesheet" media="screen">
<link href="css/print.css" type="text/css" rel="stylesheet" media="print">
</head>
<body>
<div id="headerWrapper">
  <div id="header">
    <div id="label">
      <h1 id="title">Shiliang Wang</h1>
      <p class="address">3501 St Paul St, Baltimore, MD - 21218, United States<br />
        +86 443 453 7666<br />
        <a href="mailto:wangshiliang@jhu.edu">wangshiliang@jhu.edu</a>
        <!--For additional security it is advisable to encrypt this email id using http://hivelogic.com/enkoder/form ^_^_^_^_^ -->
        <br />
        <a href="https://github.com/wangshilianghit" class="external">https://github.com/wangshilianghit</a> </p>
      <!-- end / #label -->
    </div>
    <div id="intro">
      <p>I am a Master student studied at Johns Hopkins University major in Computer Science. My research interests include machine learning approaches and their applications, Information Retrieval, Web Development and mobile applicataion development. I'm also a big fan in basketball.</p>
      <!-- end / #intro -->
    </div>
    <!-- end / #header -->
  </div>
  <!-- end / #headerWrapper -->
</div>
<div id="headerShadow">
  <!-- end / #headerShadow -->
</div>
<div id="contentWrapper" class="clearfix">
  <div id="sidebar">
    <div id="avatar"><a class="top" href="javascript:void(0);" title="Go back to top!"><img src="images/avatar.png" alt="John Doe" /></a> </div>
    <ul id="navMain">
      <!-- You can change the order of the menu here -->
      <li><a href="#education">Education</a></li>
      <li><a href="#skills">Skills</a></li>
      <li><a href="#work">Work History</a></li>
      <li><a href="#gallery">Sample Works</a></li>
      <li><a href="#awards">Awards &amp; Accomplishments</a></li>
      <!-- end / #navMain -->
    </ul>
    <ul id="networkLinks">
      <li class="divider"><a href="javascript:window.print()"><img src="images/print.png" alt="Print Resume" class="tooltip" /></a></li>
      <li><a href="https://sourceforge.net/users/wangshilianghit" class="external"><img src="images/sourceforge.png" alt="View my SourceForge account" class="tooltip" /></a></li>
      <li><a href="https://github.com/wangshilianghit" class="external"><img src="images/github.jpg" alt="View my Github account" class="tooltip" /></a></li>
      <!-- end / #networkLinks -->
    </ul>
    <!-- end / #sidebar -->
  </div>
  <div id="content">
    <!-- Education Section Begins -->
    <div id="education" class="section">
      <h2>Education</h2>
      <h3>Johns Hopkins University <em class="floatRight">2013 - present</em></h3>
      <p>I'm currently a first year Master student advised by Jason Eisner. I'm currently do some research in Information Retrieval and building a language studying website with others right now.</p>
      <ul class="disc">
        <li><strong>GPA: </strong>3.8/4.0</li>
        <li><strong>Major: </strong>Computer Science</li>
      </ul>
      <h3>Harbin Institue of Technology <strong class="floatRight">2008-2012</strong></h3>
      <p>I has been actively invovled in the reaserch on Machine Intelligence Lab in HIT since 2010. I served as a key member in designing HIT search engine system which clusters users search results into topics. I also researched on Chinese word segmentation. My recent paper "Discriminate Chinese word segmenter with global features and context features" has been published in Advanced Material Research.</p>
      <ul class="disc">
        <li><strong>GPA: <strong>86.7/100</strong>
        <li><strong>Major: </strong>Software Engineering</li>
      <!-- end #education -->
    </div>
    <!-- Skills Section Begins -->
    <div id="skills" class="section">
      <h2>Skills</h2>
      <h4>Programming Languages</h4>
      <p>C, C++ (more than 4 years of experience)</p>
      <p>Python, JAVA (2 years of experience)</p>
      <p>JavaScript, C#, Perl (half years of experience)</p>
      <h4>Web</h4>
      <p>HTML, CSS, JavaScript, NodeJs, Express, Angular, Sails, JSP</p>
      <h4>Database Technologies</h4>
      <p>SQL, MySQL, MongoDB</p>
      <h4>Operating System</h4>
      <p>Linux, Windows</p>
      <!-- end #skills -->
    </div>
    <!-- Work History Section Begins -->
    <div id="work" class="section">
      <h2>Work History</h2>
      <h3>Seeds of Empowerment of Stanford University</h3>
      <h4>Learning Systems Development Associate <em class="floatRight">09/2012 - Present</em></h4>
      <p>Designed Four Andorid games including Card Game, London Tower, FarmSim, Fire Rescue bearing most of the game development work. These games have been tested and played by children in Indonesia. These games aimed to increase children's ability to display flexibility in the face of chaning schedules of reinforcement, and help them learn the concept of money, micro loans, borrowing moeny, etc.</p>
      <h4>Internship in Neusoft <em class="floatRight">07/2010 - 09/2010</em></h4>
      <p>As the technical director finished the project of Modern Traffic Monitoring System. This system can recognize the plate number of cars that violate the traffic rules and notify to the police. </p>
    </div>
    <!-- Sample Works Section Begins -->
    <div id="gallery" class="section">
      <h2>Sample Works</h2>
      <h3>Desktop Apps</h3>
      <ul class="gallery">
        <li><a href="images/toefl.png" rel="prettyPhoto[toefl]" title="Toefl Speaking Practice helps students practice their oral English and get a higher score in the exam."/><img src="images/preview_toefl.jpg" alt="image" width="70" height="65" /></a> </li>
        <li><a href="images/toefl2.png" rel="prettyPhoto[toefl]" title="Toefl Speaking Practice helps students practice their oral English and get a higher score in the exam."/><img src="images/preview_toefl2.jpg" alt="image" width="70" height="65" /></a> </li>
        <li><a href="images/searchengine.png" rel="prettyPhoto[searchengine]" title="This HIT campus based search engine will cluster your search results into topics. "/><img src="images/preview_searchengine.jpg" alt="image" width="70" height="65" /></a> </li>
        <li><a href="images/searchengine2.png" rel="prettyPhoto[searchengine]" title="This HIT campus based search engine will cluster your search results into topics. "/><img src="images/preview_searchengine2.jpg" alt="image" width="70" height="65" /></a> </li>
        <li><a href="images/searchengine3.png" rel="prettyPhoto[searchengine]" title="This HIT campus based search engine will cluster your search results into topics. "/><img src="images/preview_searchengine3.jpg" alt="image" width="70" height="65" /></a> </li>
        <li><a href="images/linkfive.png" rel="prettyPhoto" title="Link five, also known as GoMoku or 5-in-a-Row, is a traditional oriental game played with black and white stones on a 19x19 GO board. It is a simple game, more like Tic-Tac-Toe than GO. It's relation to GO is similar to that of Checkers to Chess. "/><img src="images/preview_linkfive.jpg" alt="image" width="70" height="65" /></a> </li>
        <li><a href="images/monitor.png" rel="prettyPhoto[monitor]" title="Modern Traffic Monitoring System is responsible for the collection, processing, analysis and dissemination of highway traffic data and is supported by a comprehensive, user friendly, management information computer database system. This program can automatically recognize the plate number of the car with a precision for about 60%."/><img src="images/preview_monitor.png" alt="image" width="70" height="65" /></a> </li>
        <li><a href="images/monitor2.png" rel="prettyPhoto[monitor]" title="Modern Traffic Monitoring System is responsible for the collection, processing, analysis and dissemination of highway traffic data and is supported by a comprehensive, user friendly, management information computer database system. This program can automatically recognize the plate number of the car with a precision for about 60%."/><img src="images/preview_monitor2.png" alt="image" width="70" height="65" /></a> </li>
        <li><a href="images/monitor3.png" rel="prettyPhoto[monitor]" title="Modern Traffic Monitoring System is responsible for the collection, processing, analysis and dissemination of highway traffic data and is supported by a comprehensive, user friendly, management information computer database system. This program can automatically recognize the plate number of the car with a precision for about 60%."/><img src="images/preview_monitor3.png" alt="image" width="70" height="65" /></a> </li>
      </ul>
      <h3>Mobile Apps</h3>
      <ul class="gallery">
        <li><a href="images/farmsim.jpg" rel="prettyPhoto[farmsim]" title="Farmsim is a farming simulation game for people living in the developing region to learn the concept of money, micro loans, borrowing money, paying interst, paying the principle amount, and augmenting money by working smartly, etc."/><img src="images/preview_farmsim.jpg" alt="image" width="70" height="65" /></a> </li>
        <li><a href="images/farmsim2.jpg" rel="prettyPhoto[farmsim]" title="Farmsim is a farming simulation game for people living in the developing region to learn the concept of money, micro loans, borrowing money, paying interst, paying the principle amount, and augmenting money by working smartly, etc."/><img src="images/preview_farmsim2.jpg" alt="image" width="70" height="65" /></a> </li>
        <li><a href="images/igo.png" rel="prettyPhoto[igo]" title="IGo aims to help customer to find shops and get recommendation and promotion easily and fast and it is a pleasure and cool experience."/><img src="images/preview_igo.png" alt="image" width="70" height="65" /></a> </li>
        <li><a href="images/igo2.png" rel="prettyPhoto[igo]" title="The customer need to set the farest distance before finding the shop."/><img src="images/preview_igo2.png" alt="image" width="70" height="65" /></a> </li>
        <li><a href="images/igo3.png" rel="prettyPhoto[igo]" title="The app will notify the direction and the distance of the shop to the user."/><img src="images/preview_igo3.png" alt="image" width="70" height="65" /></a> </li>
        <li><a href="images/igo4.png" rel="prettyPhoto[igo]" title="The app will also gives the reviews of that shop to the user."/><img src="images/preview_igo4.png" alt="image" width="70" height="65" /></a> </li>
        <li><a href="images/firerescue.jpg" rel="prettyPhoto[firerescue]" title="FireRescue is an educational game which can improve your arithmetic capability. When the alarm bells rings, your little firefighter are going to rescue people in the building. "/><img src="images/preview_firerescue.jpg" alt="image" width="70" height="65" /></a> </li>
        <li><a href="images/firerescue2.jpg" rel="prettyPhoto[firerescue]" title="The user can select the ladder or the jump spring based in different levels. When the user get the right floor and rescue the people successfully, he will get to the next level. The difficulty will increase with the level."/><img src="images/preview_firerescue2.jpg" alt="image" width="70" height="65" /></a> </li>
        <li><a href="images/card.png" rel="prettyPhoto[card]" title="Card Game is a neuropsychological test of set-shifting, i.e. the ability to display flexibility in the face of changing schedules of reinforcement. "/><img src="images/preview_card.png" alt="image" width="70" height="65" /></a> </li>
        <li><a href="images/card2.jpg" rel="prettyPhoto[card]" title="The results have been tested in Indonesia in December, 2011. ​These kids don't have school at all and some of them are snake charmers in street. To our surprise, they amazingly managed to score high in the game."/><img src="images/preview_card2.jpg" alt="image" width="70" height="65" /></a> </li>
        <li><a href="images/tower.jpg" rel="prettyPhoto[tower]" title="The Tower of London test is a well-known test used in applied clinical neuropsychology for the assessment of executive functioning specifically to detect deficits in planning."/><img src="images/preview_tower.jpg" alt="image" width="70" height="65" /></a> </li>
        <li><a href="images/tower2.jpg" rel="prettyPhoto[tower]" title="The results has been tested in Indonesia in December 2011. These kids don't have schools at all and some of them are snake charmers in street. These kids are very smart and did well in the games."/><img src="images/preview_tower2.jpg" alt="image" width="70" height="65" /></a> </li>
      </ul>
      <h3>Website</h3>
      <ul class="gallery">
        <li><a href="images/tawktalk.png" rel="prettyPhoto[tawktalk]" title="TawkTalk instantly connects you to native speakers in any language and on any device."/><img src="images/preview_tawktalk.png" alt="image" width="70" height="65" /></a> </li>
    </div>
    <!-- Awards and Accomplishments Section Begins -->
    <div id="awards" class="section">
      <h2>Awards and Accomplishments</h2>
      <h3>Won the first price in the Global Software Develop Competition</h3>
      <p>He tooked part in Stanford summer school and joined the Global Software Develop
      Competition. Their team won the first price in this competition for a mobile mapping applicator named "IGO". This software aimed to help customers find shops and get the recommendation and promotion information quickly.</p>
      <h3>Recenet paper publish in Advanced Material Research </h3>
      <p>"Discriminate Chinese Word Segmenter with Global and Context Features", Advanced Material Research, International Symposium on Electronical Engineering and Information Processing, ShenYang, China, May, 2012.></p>
      <!-- end #awards -->
    </div>
  </div>
  <!-- end #contentWrapper -->
</div>
<div id="footer">
  <div id="copyright">
    <p><a href="http://mustafaquilon.com" class="external">Mustafa Quilon</a> &amp; Themeforest. All Rights Reserved.</p>
    <!-- end #copyright -->
  </div>
  <!-- end #footer -->
</div>

<script type="text/javascript" src="javascripts/jquery-1.3.2.min.js"></script>
<script type="text/javascript" src="javascripts/jquery-scrollTo-localScroll.js"></script>
<script type="text/javascript" src="javascripts/qtip.js"></script>
<script type="text/javascript" src="javascripts/jquery.prettyPhoto.js"></script>
<script type="text/javascript" src="javascripts/main.js"></script>

</body>
</html>
